flows.json
[
    {
        "id": "ec43829a7d576813",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3c1975f87cd0cabf",
        "type": "tab",
        "label": "Save all changes ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d9cec7fe6199a6da",
        "type": "mqtt-broker",
        "name": "",
        "broker": "79de4ca025cd4477b9cb4823aca4b3a5.s2.eu.hivemq.cloud",
        "port": "8883",
        "tls": "6bf8cd960db2aadc",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "545c157f421b1f57",
        "type": "ui_group",
        "name": "Sensor Outputs",
        "tab": "503cef66385b9f72",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6bf8cd960db2aadc",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "503cef66385b9f72",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b85a44ce770f3066",
        "type": "mqtt in",
        "z": "ec43829a7d576813",
        "name": "",
        "topic": "Test",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "d9cec7fe6199a6da",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 240,
        "wires": [
            [
                "853c6ceffb1ec5aa",
                "d1eac0ec29c30d28",
                "4991a1ea70ac36fa",
                "f86e98d715702565",
                "81855a1d026244c1",
                "9a8f39f5e064fbef",
                "1487167fdbd648bb"
            ]
        ]
    },
    {
        "id": "853c6ceffb1ec5aa",
        "type": "mqtt out",
        "z": "ec43829a7d576813",
        "name": "",
        "topic": "TestRespond",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d9cec7fe6199a6da",
        "x": 410,
        "y": 140,
        "wires": []
    },
    {
        "id": "d1eac0ec29c30d28",
        "type": "debug",
        "z": "ec43829a7d576813",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 260,
        "wires": []
    },
    {
        "id": "4991a1ea70ac36fa",
        "type": "ui_text",
        "z": "ec43829a7d576813",
        "group": "545c157f421b1f57",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "soil",
        "format": "{{msg.payload[\"soil\"]}}",
        "layout": "row-center",
        "className": "",
        "x": 430,
        "y": 400,
        "wires": []
    },
    {
        "id": "f86e98d715702565",
        "type": "ui_text",
        "z": "ec43829a7d576813",
        "group": "545c157f421b1f57",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "uv",
        "format": "{{msg.payload[\"uv\"]}}",
        "layout": "row-center",
        "className": "",
        "x": 430,
        "y": 440,
        "wires": []
    },
    {
        "id": "81855a1d026244c1",
        "type": "ui_text",
        "z": "ec43829a7d576813",
        "group": "545c157f421b1f57",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "humidity",
        "format": "{{msg.payload[\"humid\"]}}",
        "layout": "row-center",
        "className": "",
        "x": 440,
        "y": 480,
        "wires": []
    },
    {
        "id": "9a8f39f5e064fbef",
        "type": "ui_text",
        "z": "ec43829a7d576813",
        "group": "545c157f421b1f57",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "temperature",
        "format": "{{msg.payload[\"temp\"]}}",
        "layout": "row-center",
        "className": "",
        "x": 450,
        "y": 520,
        "wires": []
    },
    {
        "id": "45f74f9036acf492",
        "type": "ui_chart",
        "z": "ec43829a7d576813",
        "name": "",
        "group": "545c157f421b1f57",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "300",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "1487167fdbd648bb",
        "type": "function",
        "z": "ec43829a7d576813",
        "name": "return soil",
        "func": "var soil = parseFloat(msg.payload[\"soil\"]);\nmsg.payload = soil;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 560,
        "wires": [
            [
                "45f74f9036acf492"
            ]
        ]
    },
    {
        "id": "9c09e087.a48e7",
        "type": "http request",
        "z": "3c1975f87cd0cabf",
        "name": "PUT",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.github.com/repos/Mehhehhe/nodered-heroku-PBL/contents/{{filename}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 280,
        "wires": [
            [
                "666e944b12fe9cb2"
            ]
        ]
    },
    {
        "id": "1dc8605f.7ac4e",
        "type": "change",
        "z": "3c1975f87cd0cabf",
        "name": "set headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"User-Agent\":\"PostmanRuntime/7.29.0\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.Authorization",
                "pt": "msg",
                "to": "Authorization",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 220,
        "wires": [
            [
                "9c09e087.a48e7"
            ]
        ]
    },
    {
        "id": "ba9ea225.c2fbe",
        "type": "http request",
        "z": "3c1975f87cd0cabf",
        "name": "GET",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.github.com/repos/Mehhehhe/nodered-heroku-PBL/contents/{{filename}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 100,
        "wires": [
            [
                "e585584fd416aab4",
                "666e944b12fe9cb2"
            ]
        ]
    },
    {
        "id": "ae8ddf10.868fd",
        "type": "change",
        "z": "3c1975f87cd0cabf",
        "name": "set msg vars",
        "rules": [
            {
                "t": "set",
                "p": "headers.User-Agent",
                "pt": "msg",
                "to": "PostmanRuntime/7.29.0",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.Authorization",
                "pt": "msg",
                "to": "Authorization",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "gitRepo",
                "pt": "msg",
                "to": "GITHUB_REPO",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "gitUsername",
                "pt": "msg",
                "to": "GITHUB_USERNAME",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 40,
        "wires": [
            [
                "ba9ea225.c2fbe"
            ]
        ]
    },
    {
        "id": "819e400b.96d61",
        "type": "comment",
        "z": "3c1975f87cd0cabf",
        "name": "GitHub Token",
        "info": "Set GITHUB_TOKEN in [Heroku Config Vars](https://dashboard.heroku.com/apps/nodered-on-cloud/settings).\nSee [Personal access tokens](https://github.com/settings/tokens) page (repo).",
        "x": 110,
        "y": 280,
        "wires": []
    },
    {
        "id": "f4f0342516f4afea",
        "type": "file in",
        "z": "3c1975f87cd0cabf",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 880,
        "y": 160,
        "wires": [
            [
                "6a2bc486f2838313"
            ]
        ]
    },
    {
        "id": "e585584fd416aab4",
        "type": "change",
        "z": "3c1975f87cd0cabf",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.sha",
                "pt": "msg",
                "to": "temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 160,
        "wires": [
            [
                "f4f0342516f4afea"
            ]
        ]
    },
    {
        "id": "6a2bc486f2838313",
        "type": "change",
        "z": "3c1975f87cd0cabf",
        "name": "set msg.payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"content\": $base64encode(payload)}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.sha",
                "pt": "msg",
                "to": "temp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.message",
                "pt": "msg",
                "to": "Commit from nodered-on-cloud",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "temp",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 220,
        "wires": [
            [
                "1dc8605f.7ac4e"
            ]
        ]
    },
    {
        "id": "f92e1e8dffe158f7",
        "type": "change",
        "z": "3c1975f87cd0cabf",
        "name": "flows.json",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "flows.json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 40,
        "wires": [
            [
                "ae8ddf10.868fd"
            ]
        ]
    },
    {
        "id": "98b5b9035834b822",
        "type": "change",
        "z": "3c1975f87cd0cabf",
        "name": "flows_cred.json",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "flows_cred.json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 140,
        "wires": [
            [
                "ae8ddf10.868fd"
            ]
        ]
    },
    {
        "id": "7a7584df89bbce4a",
        "type": "inject",
        "z": "3c1975f87cd0cabf",
        "name": "SAVE",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "88f6fe95e0373dfa"
            ]
        ]
    },
    {
        "id": "71c40b7254660299",
        "type": "change",
        "z": "3c1975f87cd0cabf",
        "name": "package.json",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "package.json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 240,
        "wires": [
            [
                "ae8ddf10.868fd"
            ]
        ]
    },
    {
        "id": "666e944b12fe9cb2",
        "type": "debug",
        "z": "3c1975f87cd0cabf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 420,
        "wires": []
    },
    {
        "id": "81154a985f4a1efe",
        "type": "inject",
        "z": "3c1975f87cd0cabf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 460,
        "y": 360,
        "wires": [
            [
                "ae8ddf10.868fd"
            ]
        ]
    },
    {
        "id": "88f6fe95e0373dfa",
        "type": "function",
        "z": "3c1975f87cd0cabf",
        "name": "Authorization",
        "func": "msg.Authorization = 'Basic ' + Buffer.from(env.get('GITHUB_USERNAME') + \":\" + env.get('GITHUB_TOKEN')).toString('base64');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 110,
        "y": 100,
        "wires": [
            [
                "f92e1e8dffe158f7",
                "98b5b9035834b822",
                "71c40b7254660299"
            ]
        ]
    }
]