flows.json
[
    {
        "id": "ec43829a7d576813",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b85a44ce770f3066",
        "type": "mqtt in",
        "z": "ec43829a7d576813",
        "name": "",
        "topic": "Test",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "d9cec7fe6199a6da",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 240,
        "wires": [
            [
                "853c6ceffb1ec5aa",
                "d1eac0ec29c30d28",
                "4991a1ea70ac36fa",
                "f86e98d715702565",
                "81855a1d026244c1",
                "9a8f39f5e064fbef",
                "1487167fdbd648bb"
            ]
        ]
    },
    {
        "id": "853c6ceffb1ec5aa",
        "type": "mqtt out",
        "z": "ec43829a7d576813",
        "name": "",
        "topic": "TestRespond",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d9cec7fe6199a6da",
        "x": 410,
        "y": 140,
        "wires": []
    },
    {
        "id": "d1eac0ec29c30d28",
        "type": "debug",
        "z": "ec43829a7d576813",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 260,
        "wires": []
    },
    {
        "id": "4991a1ea70ac36fa",
        "type": "ui_text",
        "z": "ec43829a7d576813",
        "group": "545c157f421b1f57",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "soil",
        "format": "{{msg.payload[\"soil\"]}}",
        "layout": "row-center",
        "className": "",
        "x": 430,
        "y": 400,
        "wires": []
    },
    {
        "id": "f86e98d715702565",
        "type": "ui_text",
        "z": "ec43829a7d576813",
        "group": "545c157f421b1f57",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "uv",
        "format": "{{msg.payload[\"uv\"]}}",
        "layout": "row-center",
        "className": "",
        "x": 430,
        "y": 440,
        "wires": []
    },
    {
        "id": "81855a1d026244c1",
        "type": "ui_text",
        "z": "ec43829a7d576813",
        "group": "545c157f421b1f57",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "humidity",
        "format": "{{msg.payload[\"humid\"]}}",
        "layout": "row-center",
        "className": "",
        "x": 440,
        "y": 480,
        "wires": []
    },
    {
        "id": "9a8f39f5e064fbef",
        "type": "ui_text",
        "z": "ec43829a7d576813",
        "group": "545c157f421b1f57",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "temperature",
        "format": "{{msg.payload[\"temp\"]}}",
        "layout": "row-center",
        "className": "",
        "x": 450,
        "y": 520,
        "wires": []
    },
    {
        "id": "45f74f9036acf492",
        "type": "ui_chart",
        "z": "ec43829a7d576813",
        "name": "",
        "group": "545c157f421b1f57",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "300",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "1487167fdbd648bb",
        "type": "function",
        "z": "ec43829a7d576813",
        "name": "return soil",
        "func": "var soil = parseFloat(msg.payload[\"soil\"]);\nmsg.payload = soil;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 560,
        "wires": [
            [
                "45f74f9036acf492"
            ]
        ]
    },
    {
        "id": "d9cec7fe6199a6da",
        "type": "mqtt-broker",
        "name": "",
        "broker": "79de4ca025cd4477b9cb4823aca4b3a5.s2.eu.hivemq.cloud",
        "port": "8883",
        "tls": "6bf8cd960db2aadc",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "545c157f421b1f57",
        "type": "ui_group",
        "name": "Sensor Outputs",
        "tab": "503cef66385b9f72",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6bf8cd960db2aadc",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "503cef66385b9f72",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]